@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
    font-family: poppins;
    color: #c3c3c3;
}
#regis .title {
    font-size: 64px;
    font-weight: 600;
    line-height: 77px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 2%;
    margin-bottom: 50px;
}
#regis .kanan {
    height: 100vh;
    background-color: #231f20;
    padding: 0px 100px;
}
#regis label {
    font-size: 18px;
    font-weight: 600;
    line-height: 48px;
}
#regis .btn-submit {
    background-color: #d9d9d9;
    padding: 16px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}
#regis .btn-submit:hover {
    color: #000;
}
.input-group {
    border-radius: 8px;
    border: 2px solid #c3c3c3;
}
#regis input {
    outline: none;
}

@media (max-width: 575.98px) {
    #regis .title {
        font-size: 44px;
        padding-top: 3%;
        margin-bottom: 50px;
    }
    #regis .kanan {
        padding: 0px 30px;
        height: auto;
    }
    #regis label {
        font-size: 16px;
        font-weight: 600;
        line-height: 30px;
    }
    #regis .btn-submit {
        background-color: #d9d9d9;
        padding: 12px;
        width: 100%;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 600;
    }
    #regis .btn-submit:hover {
        color: #000;
    }
}
